
SQLALCHEMY_DATABASE_URI = 'sqlite:///db/test.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False

DEBUG = True

# Enable the TESTING flag to disable the error catching during request handling
# so that you get better error reports when performing test requests against the application.
TESTING = True

# Disable CSRF tokens in the Forms (only valid for testing purposes!)
WTF_CSRF_ENABLED = False

LIBSERVE_URI = 'http://libserve:5000'
BOOKS_URI = f'{LIBSERVE_URI}/books'
CHECKOUT_URI = f'{LIBSERVE_URI}/books/' + '{}/checkout'
RETURN_URI = f'{LIBSERVE_URI}/books/' + '{}/return'
